# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist
build

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Logs
logs
*.log

# IDE / Editor
.vscode
.idea

# OS files
.DS_Store
Thumbs.db

# Cache
.cache
.vite

# Test coverage
coverage